.approveSignTransactionPageContainer {
    width: 100%;
    min-height: 100%;
    background-color: var(--white_col);
    background-image: url(../../images/bgInfo.svg);
    background-size: cover;
    background-position: center;
    font-family: var(--font_manrope);
}

.approveSignTransactionPageContainer .body {
    padding: 32px 60px 50px 60px;
    height: 100%;
    text-align: center;
}

.approveSignTransactionPageContainer .body .originWebsite {
    font-size: 14px;
    max-width: 200px;
    margin: 10px auto 0;
    border-radius: 10px;
    border: 1px solid #20202055;
    padding: 10px 15px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    background: var(--white_col);
}

.approveSignTransactionPageContainer .body .subtitle {
    font-family: var(--font_regular);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 20px auto 0;
}

.approveSignTransactionPageContainer .body .data {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.approveSignTransactionPageContainer .body .data .error {
    color: indianred;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
}

.approveSignTransactionPageContainer .body .data .transactionWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #20202055;
    max-width: 35%;
    margin: 0 auto;
}

.approveSignTransactionPageContainer .body .data .transactionWrapper .transactionActions .action {
    line-break: anywhere;
}

.approveSignTransactionPageContainer .body .networkId {
    width: fit-content;
    max-width: 400px;
    margin: 20px auto;
    font-family: var(--font_extra_bold);
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
}

.approveSignTransactionPageContainer .body .confirm {
    font-family: var(--font_bold);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    background: #202020;
    border-radius: 88px;
    padding: 15px 24px;
    cursor: pointer;
    margin: 40px auto 0 auto;
    min-width: 112px;
}

.approveSignTransactionPageContainer .body .cancel {
    font-family: var(--font_bold);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: block;
    margin: 12px auto 0;
    cursor: pointer;
    opacity: 0.5;
}

.approveSignTransactionPageContainer .body .approveTxButton:hover {
    opacity: 0.8;
}

.approveSignTransactionPageContainer .body .approveTxButton:disabled {
    opacity: 0.45;
    cursor: not-allowed;
}