.unlockWalletPageContainer {
  width: 100%;
  min-height: 100%;
  background-color: var(--white_col);
  background-image: url(../../images/bgInfo.svg);
  background-size: cover;
  background-position: center;
  font-family: var(--font_manrope);
}

.unlockWalletPageContainer .body {
  padding: 32px 60px 50px 60px;
  height: 100%;
  text-align: center;
}

.unlockWalletPageContainer .body>.title {
  font-family: var(--font_extra_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  color: #202020;
}

.unlockWalletPageContainer .secondaryTitle {
  font-family: var(--font_regular);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #202020;
  margin: 12px auto 0;
  max-width: 320px;
}

.unlockWalletPageContainer .body .iconWrapper {
  width: 68px;
  height: 68px;
  margin: 28px auto 0 auto;
}

.unlockWalletPageContainer .body .iconWrapper .icon {
  width: 100%;
  height: 100%;
}

.unlockWalletPageContainer .body .errorIconWrapper {
  margin: 38px auto 0 auto;
}

.unlockWalletPageContainer .body .connect, .unlockWalletPageContainer .body .retry {
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  background: #202020;
  border-radius: 88px;
  padding: 15px 24px;
  cursor: pointer;
}

.unlockWalletPageContainer .body .connect {
  margin: 40px auto 0 auto;
}

.unlockWalletPageContainer .body .retry {
  margin: 57px auto 0 auto;
}

.unlockWalletPageContainer .body .cancel {
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: block;
  margin: 12px auto 0;
  cursor: pointer;
  opacity: 0.5;
}

.unlockWalletPageContainer .body .btn:hover {
  opacity: 0.8;
}

.ledger-dropdown-content {
  width: fit-content;
  margin: 30px auto;
  text-align: left;
}

.error-wrapper {
  color: red
}

.ledger-dropdown-content .desc {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}


.path-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 10px 0;
}

.path-wrapper>span {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin: 0 16px;
}

.default-paths {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.custom-path {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 4px 12px 4px 16px;
  border-radius: 8px;
  min-width: 55px;
  font-size: 12px;
  line-height: 16px;
  background: rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.custom-path .buttons-wrapper {
  margin-left: 10px;
  padding: 2px 0;
}

.custom-path .arrow-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin: -4px 0;
}

.custom-path .arrow-btn:hover {
  opacity: 0.8;
}

.arrow-btn.increment {
  transform: rotate(90deg);
}

.arrow-btn.decrement {
  transform: rotate(-90deg);
}