.navFooterWrapper .btnContainer {
    display: flex;
    margin: 40px auto 0;
    max-width: 440px;
  }
.navFooterWrapper .btnContainer > button {
    width: 50%;
    display: block;
    padding-bottom: 4px;
    font-family: var(--font_bold);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--black_color_secondary_opacity);
    cursor: pointer;
    border-bottom: 1px solid #9896F033;
  }
.navFooterWrapper .btnContainer .active {
    border-bottom: 2px solid #9896F0;
    color: var(--black_color_secondary);
  }
