.accountLatestActivityPageContainer {
    width: 100%;
    min-height: 100%;
    background-color: var(--white_col);
    background-image: url(../../images/bgInfo.svg);
    background-size: cover;
    background-position: center;
    font-family: var(--font_manrope);
}

.accountLatestActivityPageContainer .body {
    border-radius: 0 0 20px 20px;
    height: calc(100% - 80px);
    padding: 32px 60px 50px;
    max-width: 320px;
    margin: 0 auto;
}

.accountLatestActivityPageContainer .body .title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 35px;
    color: #202020;
    text-align: center;
}

.accountLatestActivityPageContainer .body .activitiesWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.accountLatestActivityPageContainer .body .activitiesWrapper .activity {
    cursor: pointer;
}

.accountLatestActivityPageContainer .body .activitiesWrapper .activity:hover {
    opacity: 0.8;
}

.accountLatestActivityPageContainer .body .activitiesWrapper .moreActivitiesButton {
    height: 48px;
    text-align: center;
    margin: 40px auto 0;
    padding: 15px 24px;
    border-radius: 88px;
    background: #202020;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--white_col);
    cursor: pointer;
}

.accountLatestActivityPageContainer .body .activitiesWrapper .moreActivitiesButton:hover {
    opacity: 0.8;
}

.accountLatestActivityPageContainer .body .buttonsContainer {
    margin-top: 10px
}

.accountLatestActivityPageContainer .body .buttonsContainer .backBtn {
    width: fit-content;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    font-style: normal;
    margin: 12px auto 0;
    opacity: 0.5;
}

.accountLatestActivityPageContainer .body .buttonsContainer .backBtn:hover {
    opacity: 0.8;
}